/Cuaderno Code icon.xcf
/Cuaderno Icon.xcf
/Cuaderno Word....py
/Cuaderno-Icon.ico
/Cuaderno_Word.py
/Eye.ico
/IDLE (Python 3.8 64-bit).lnk
/idletest.py
/idletesting.py
/import tkinter.py
/notepad.ico
/paper.ico
/Pencil.ico
/sample 12.txt
/TEST LINENUMBEER.py
/test,py
/useless.ico
/__pycache__